table {
    min-width: 550px;
}

div#table input {
    font-size: large !important;
    width: 60px !important;
    height: 60px !important;
    
    margin: 1px -1px 1px -1px !important;
    padding: 2px !important;

}


div#table .v-divider {
    width: 1px !important;
    background-color: gray;
}

div#table .h-divider {
    height: 1px !important;
    background-color: gray;
}

div#table .grid {
    padding: 1px !important;
}

.numkey {
    width: 60px !important;
    height: 60px !important;
}